node{
	size:20px;
	fill-color:red;
	shape:triangle;
}

node:selected{
	fill-color:blue;
}
node:clicked{
	
}
node#A{
	size:20px;
	fill-color:green; 
	shape:rounded-box;
}
node#B{
	size:20px;
	fill-color:green; 
	shape:rounded-box;
}
node#C{
	size:20px;
	fill-color:green; 
	shape:rounded-box;
}
node#D{
	size:20px;
	fill-color:green; 
	shape:rounded-box;
}
node#E{
	size:20px;
	fill-color:green; 
	shape:rounded-box;
}